<%- include("headtable") %>

<body>
    <div class="container">
        <h1>Notify Customer</h1>
        <div class="table-container">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Appointment ID</th>
                        <th>Customer ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Alert</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((item) => { %>
                    <tr>
                        <td><%= item.appointment_id %></td>
                        <td><%= item.customer_id %></td>
                        <td><%= item.first_name %> <%= item.last_name %></td>
                        <td><%= item.appointment_date %></td> <!-- เวลานัดหมอ -->
                        <td><%= item.status %></td>
                        <td><button type="button" class="btn btn-primary" onclick="alert()">Alert</button></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function alert(){
            
        }
    </script>
</body>
</html>